* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Bellefair;
    src: url(./assets/font/Bellefair-Regular.ttf);
}
@font-face {
    font-family: Barlow;
    src: url(./assets/font/BarlowCondensed-Regular.ttf);
}
body {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-ham-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 30px;
    } 
    .ham {
        width: 20px;
    }
}
.space-container {
    padding: 20px;
}
.text-container {
    margin-top: 70px;
    padding: 30px;
}
.first-para {
        font-family: 'Barlow';
        text-align: center;
        text-transform: uppercase;
        color: hsl(231, 77%, 90%);
        font-size: 15px;
        letter-spacing: 3px;
}
h1 {
    color: white;
    font-family: 'bellefair';
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: 30px;
}
.second-para {
    margin-top: 30px;
    text-align: center;
    font-family: 'Barlow';
    color: hsl(231, 77%, 90%);
    font-size: 17px;
    line-height: 25px;
    word-break: normal;
}
a {
    border: 1px solid white;
    border-radius: 999px;
    width: 130px;
    height: 130px;
    padding: 40px;
    margin: 20px auto;
    display: block;
    align-content: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

@media(min-width: 766px) {
    body {
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-size: cover;
    }
    .text-container {
        margin-top: 80px;
        padding: 70px;
    }
    .first-para {
        font-size: 17px;
    }
    h1 {
        font-size: 60px;
    }
    .second-para {
        font-size: 17px;
    }
    button {
        width: 300px;
        border-radius: 999px;
        height: 300px;
    }
}
@media(min-width: 1024px){
    body {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
    .wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 150px;
    }
    .text-container {
        margin-left: 20px;
    }
    .first-para {
        font-size: 17px;
        text-align: left;
    }
    h1 {
        font-size: 60px;
        text-align: left;
    }
    .second-para {
        font-size: 17px;
        text-align: left;
    }
    button {
        width: 200px;
        border-radius: 999px;
        height: 200px;
    }
}