* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Bellefair;
    src: url(./assets/font/Bellefair-Regular.ttf);
}
@font-face {
    font-family: Barlow;
    src: url(./assets/font/BarlowCondensed-Regular.ttf);
}
body {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.logo-ham-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 30px;
    } 
    .ham {
        width: 20px;
    }
    .nav-bar {
        border: none;
        width: 80%;
        padding: 20px 10px;
        text-align: center;
        height: 90px;
        display: none;
        overflow: hidden;
        position: absolute;
        left: 70px;
        word-spacing: 80px;
        background-color: rgba(254, 252, 252, 0.1);
        a {
            display: inline-flex;
            gap: 8px;  
            font-family: 'barlow';
            color: rgba(254, 252, 252, 0.7);
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;
        }
        .bar {
            text-decoration: none;
        }
        .numeric {
            color: white;
            font-weight: 600;
        }
    }
    .nav-bar-menu-mobile {
        padding: 11px;
        width: 200px;
        height: 100vh;
        background-color: #0B0D17;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(30px);
        position: absolute;
        left: 11.8rem;
        top: 0px;
        img {
            width: 30px;
            margin-top: 30px;
            float: right;
        }
        .nav-bar-mobile {
            display: grid;
            gap: 15px;
            margin-top: 150px;
            a {
                color: white;
                text-decoration: none;
                font-family: 'barlow';
                display: inline-flex;
                gap: 15px;
                font-weight: 400;
            }
            .numero {
               font-weight: 900;
               letter-spacing: 3px;
            }
        }
    }
}
.space-container {
    padding: 20px;
}
.text-container {
    margin-top: 70px;
    padding: 30px;
}
.first-para {
        font-family: 'Barlow';
        text-align: center;
        text-transform: uppercase;
        color: hsl(231, 77%, 90%);
        font-size: 15px;
        letter-spacing: 3px;
}
h1 {
    color: white;
    font-family: 'bellefair';
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: 30px;
}
.second-para {
    margin-top: 30px;
    text-align: center;
    font-family: 'Barlow';
    color: hsl(231, 77%, 90%);
    font-size: 17px;
    line-height: 25px;
    word-break: normal;
}
.button {
    border: 1px solid white;
    border-radius: 999px;
    width: 150px;
    height: 150px;
    padding: 40px;
    margin: 20px auto;
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 500;
}

@media(min-width: 766px) {
    body {
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-size: cover;
    }
    .logo-ham-section {
        .logo {
            width: 80px;
        }
        .ham {
            display: none;
        }
        .nav-bar {
            display: block;
            left: 155px;
        }
        .nav-bar-mobile {
            display: none;
        }
    }
    .text-container {
        margin-top: 80px;
        padding: 70px;
    }
    .first-para {
        font-size: 17px;
    }
    h1 {
        font-size: 60px;
    }
    .second-para {
        font-size: 17px;
    }
    .button {
        width: 300px;
        border-radius: 999px;
        height: 300px;
        font-size: 28px;
    }
}
@media(min-width: 1024px){
    body {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }
    .logo-ham-section {
        .nav-bar {
            width: 70%;
            left: 380px;
            font-size: 20px;
        }
        .nav-bar-mobile {
            display: none;
        }
    }
    .wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-top: 150px;
    }
    .text-container {
        margin-left: 20px;
    }
    .first-para {
        font-size: 17px;
        text-align: left;
    }
    h1 {
        font-size: 60px;
        text-align: left;
    }
    .second-para {
        font-size: 17px;
        text-align: left;
    }
    .button {
        width: 300px;
        border-radius: 999px;
        height: 300px;
        font-size: 28px;
    }
}